*{
                box-sizing: border-box;
                font-size: 100%;
            }


/* -------------------------------------------------------------------------
 SCSS Variables
---------------------------------------------------------------------------- */

$container-width: 1140px;
$columns: 12;
$ratio: 1.618;
$em: $ratio + em;
$column-padding: $em;
$bp: 500px;



/* -------------------------------------------------------------------------
 Grid System
---------------------------------------------------------------------------- */

.container{
    max-width: $container-width;
    margin: 0 auto;
}
.row{
    width: 100%;
    clear: both;
    padding-bottom: $em;
    *zoom: 1;
}

.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.row:after {
    clear: both;
}

[class|=col]{
    float: left;
    padding: 0 $column-padding 0 $column-padding;
    width: 100%;
}

[class|=col]{
    margin-bottom: $em;
}
[class|=col]:last-child, .col-last{
    margin-bottom: 0;
}

[class|=col] [class|=col]:first-child{
    padding-left: 0;
}
[class|=col] [class|=col]:last-child, .col-last{
    padding-right: 0;
}

.pull-left{
    float: left;
}

.pull-right{
    float: right;
}

@media screen and (min-width: $bp) {

    @for $i from 1 through $columns {
        $val: ( 100% / $columns ) * $i;

        .col-#{$i}-#{$columns} {
           width: $val;
        }
    }

    [class|=col]{
        margin-bottom: 0;
    }

    .col-gr-2-3{
        width: 61.804697%;
    }

    .col-gr-1-3{
        width: 38.195303%;
    }
}

/* -------------------------------------------------------------------------
 Presentation only
---------------------------------------------------------------------------- */

[class|=col]{
    background-color: #f6bb4f;
}

[class|=col]:nth-child(odd){
}

[class|=col] h3{
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 80px;
    font-size: 13px;
}

.pres-cont{
    background-color: #ffcc66;
    height: 80px;
}

