
//---------------------------------------------------------------------------
// Base Styles
//----------------------------------------------------------------------------

.wrapper, .wrapper-full{
    padding-left: ($margin-side);
    padding-right: ($margin-side);
    margin-right: auto;
    margin-left: auto;
}

.wrapper{
    max-width: $wrapper-width;
}


.grid_row{
    margin: 0 (-$margin-side);
}

.grid_row:before,
.grid_row:after {
    content: " ";
    display: table;
}

.grid_row:after {
    clear: both;
}

.grid_row .grid_row{
    margin-bottom: (-$margin-bottom);    
}

