
//---------------------------------------------------------------------------
// Base Styles
//----------------------------------------------------------------------------

.wrapper, .wrapper-full{
    padding-left: ($margin-side);
    padding-right: ($margin-side);
    margin-right: auto;
    margin-left: auto;
}

.wrapper{
    max-width: $wrapper-width;
}


.grid_row{
    margin: 0 (-$margin-side);
    @include clearfix;
}


.grid_row .grid_row{
    margin-bottom: (-$margin-bottom);    
}

