
// ---------------------------------------------------------------------------
// Grid_Offset Column Resets
//----------------------------------------------------------------------------

@include mq-breakpoint-upto($extsm) {
    .grid_offset_extsm-reset{
        margin-left: 0;
    }
}

@include mq-breakpoint-upto($sm) {
    .grid_offset_sm-reset{
        margin-left: 0;
    }
}


@include mq-breakpoint-upto($med) {
    .grid_offset_med-reset{
        margin-left: 0;
    }
}

@include mq-breakpoint-upto($lg) {
    .grid_offset_lg-reset{
        margin-left: 0;
    }
}

// ----------------------------------------------------------------------------
// Grid Helper Classes
// ----------------------------------------------------------------------------

.float-left{
    float: left;
}

.float-right{
    float: right;
}

@include mq-breakpoint-upto($extsm) {
    .grid_col_extsm-clear_float{
      clear: both;
    }
    .grid_col_extsm-reset_float{
      clear: none;
    }
}

@include mq-breakpoint-upto($sm) {
    .grid_col_sm-clear_float{
      clear: both;
    }
    .grid_col_sm-reset_float{
      clear: none;
    }
}


@include mq-breakpoint-upto($med) {
    .grid_col_med-clear_float{
      clear: both;
    }

    .grid_col_med-reset_float{
      clear: none;
    }
}

@include mq-breakpoint-upto($lg) {
    .grid_col_lg-clear_float{
      clear: both;
    }
    .grid_col_lg-reset_float{
      clear: none;
    }
}