// ---------------------------------------------------------------------------
// SCSS Mixins
//----------------------------------------------------------------------------


// Mixin for clearfix

@mixin clearfix {
	&:before,
	&:after {
	    content: " ";
	    display: table;
	}

	&:after {
	    clear: both;
	}
}


//Mixins for Media Query Breakpoints

@mixin mq-breakpoint-upto($size) {
	@media screen and (min-width: $size) {
		/*Hello*/
		@content;
	}
}

