// ---------------------------------------------------------------------------
// SCSS Mixins
//----------------------------------------------------------------------------


// Mixin for clearfix

@mixin clearfix {
	&:before,
	&:after {
	    content: " ";
	    display: table;
	}

	&:after {
	    clear: both;
	}
}


// Mixins for Media Query Breakpoints

@mixin mq-breakpoint-upto($size) {
	@media screen and (min-width: $size) {
		@content;
	}
}



// Grid creation mixins

@mixin make-container($width: null, $max-width: $container-width, $padding: $margin-side){
	padding-left: ($padding);
    padding-right: ($padding);
    margin-right: auto;
    margin-left: auto;
    @if $width == width{
    	max-width: $max-width;
    }
}

@mixin make-row($nested: no, $margin-side: $margin-side, $margin-bottom: $margin-bottom){
	@if $nested == nested {
		margin: 0 (-$margin-side) (-$margin-bottom) (-$margin-side);
	} @else {
		margin: 0 (-$margin-side);
	}
    @include clearfix;
}


@mixin make-col($side: $margin-side, $bottom: $margin-bottom){
	position: relative;
    min-height: 1px;
    padding-left: $side;
    padding-right: $side;
    margin-bottom: $bottom;
}

@mixin make-col-span($num, $total: $columns, $float: null){
	width: percentage(($num / $total));
	@if $float == float {
		float: left;
	}
}

@mixin add-col-offset($cols, $total: $columns){
	margin-left:  percentage(($cols / $total));
}


@mixin add-col-push($cols, $total: $columns){
	left: percentage(($cols / $total));
}

@mixin add-col-pull($cols, $total: $columns){
	right: percentage(($cols / $total));
}

