//----------------------------------------------------------------------------
// Column Ordering - Push
//----------------------------------------------------------------------------

@include mq-breakpoint-upto($exsm) {
    
    @for $i from 1 through ($columns - 1) {
        
        $val: ( 100% / $columns ) * $i;

        .grid_col_push_exsm-#{$i} {
            left: $val;
        }

    }

}


@include mq-breakpoint-upto($sm) {
    
    @for $i from 1 through ($columns - 1) {
        
        $val: ( 100% / $columns ) * $i;

        .grid_col_push_sm-#{$i} {
            left: $val;
        }

    }

}


@include mq-breakpoint-upto($med) {
    
    @for $i from 1 through ($columns - 1) {
        
        $val: ( 100% / $columns ) * $i;

        .grid_col_push_med-#{$i} {
            left: $val;
        }

    }

}

@include mq-breakpoint-upto($lg) {
    
    @for $i from 1 through ($columns - 1) {
        
        $val: ( 100% / $columns ) * $i;

        .grid_col_push_lg-#{$i} {
            left: $val;
        }

    }

}

//----------------------------------------------------------------------------
// Column Ordering - Pull
//----------------------------------------------------------------------------

@include mq-breakpoint-upto($exsm) {
    
    @for $i from 1 through ($columns - 1) {
        
        $val: ( 100% / $columns ) * $i;

        .grid_col_pull_exsm-#{$i} {
            right: $val;
        }

    }

}


@include mq-breakpoint-upto($sm) {
    
    @for $i from 1 through ($columns - 1) {
        
        $val: ( 100% / $columns ) * $i;

        .grid_col_pull_sm-#{$i} {
            right: $val;
        }

    }

}


@include mq-breakpoint-upto($med) {
    
    @for $i from 1 through ($columns - 1) {
        
        $val: ( 100% / $columns ) * $i;

        .grid_col_pull_med-#{$i} {
            right: $val;
        }

    }

}

@include mq-breakpoint-upto($lg) {
    
    @for $i from 1 through ($columns - 1) {
        
        $val: ( 100% / $columns ) * $i;

        .grid_col_pull_lg-#{$i} {
            right: $val;
        }

    }

}
