
//----------------------------------------------------------------------------
// Presentation only
//----------------------------------------------------------------------------


.pres-heading{
    line-height: 100px;
    margin: 0;
}


[class^=grid_col] h3{
    text-align: center;
    padding: 0;
    margin: 0;
    line-height: 40px;
    font-size: 13px;
    background-color: #ffcc66;
}