
//---------------------------------------------------------------------------
// Base Styles
//----------------------------------------------------------------------------

.grid_row{
    display: flex;
    margin: 0 (-$margin-side);
}

.grid_row .grid_row{
    margin: 0 (-$margin-side);    
}

[class^=grid_col]{
    width: 100%;
    margin-bottom: $margin-bottom;
}