
// ----------------------------------------------------------------------------
// Layout grid_Offset Columns
// ----------------------------------------------------------------------------

@media screen and (min-width: $extsm-bp) {
    
    @for $i from 1 through ($columns - 1) {
        
        $val: ( 100% / $columns ) * $i;

        .grid_offset_extsm-#{$i}_#{$columns} {
            margin-left: $val;
        }

    }

}

@media screen and (min-width: $sm-bp) {
    
    @for $i from 1 through ($columns - 1) {
        
        $val: ( 100% / $columns ) * $i;

        .grid_offset_sm-#{$i}_#{$columns} {
            margin-left: $val;
        }

    }

}

@media screen and (min-width: $med-bp) {

    @for $i from 1 through ($columns - 1) {
        
        $val: ( 100% / $columns ) * $i;

        .grid_offset_med-#{$i}_#{$columns} {
            margin-left: $val;
        }
    }

}

@media screen and (min-width: $lg-bp) {
    
    @for $i from 1 through ($columns - 1) {
        
        $val: ( 100% / $columns ) * $i;

        .grid_offset_lg-#{$i}_#{$columns} {
            margin-left: $val;
        }
    }

}


// ----------------------------------------------------------------------------
// Content Offset Columns
// ----------------------------------------------------------------------------

@media screen and (min-width: $extsm-bp) {
    $i: $columns;

    @while $i > 1 {

        @for $j from 1 through $i - 1 {

            $margin: ( 100% / $i ) * $j;

            .grid_offset_extsm-#{$j}_#{$i} {
                margin-left: $margin;
            }
        } //END FOR

        $i: $i - 1;

    } //END WHILE 
}

@media screen and (min-width: $sm-bp) {
    $i: $columns;

    @while $i > 1 {

        @for $j from 1 through $i - 1 {

            $margin: ( 100% / $i ) * $j;

            .grid_offset_sm-#{$j}_#{$i} {
                margin-left: $margin;
            }
        } //END FOR

        $i: $i - 1;

    } //END WHILE 
}


@media screen and (min-width: $med-bp) {

    $i: $columns;

    @while $i > 1 {

        @for $j from 1 through $i - 1 {

            $margin: ( 100% / $i ) * $j;

            .grid_offset_med-#{$j}_#{$i} {
                margin-left: $margin;
            }
        } //END FOR

        $i: $i - 1;

    } //END WHILE 

}

@media screen and (min-width: $lg-bp) {
    $i: $columns;

    @while $i > 1 {

        @for $j from 1 through $i - 1 {

            $margin: ( 100% / $i ) * $j;

            .grid_offset_lg-#{$j}_#{$i} {
                margin-left: $margin;
            }
        } //END FOR

        $i: $i - 1;

    } //END WHILE 
}