/**
 * grid.scss
 */
/* ==========================================================================
   Globals
   ========================================================================== */
html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* ==========================================================================
   Base
   ========================================================================== */
.grid_row {
  display: block;
  clear: both;
  *zoom: 1;
  margin: 0 -0.809em;
}

.grid_row {
  zoom: 1;
  position: relative;
}

.grid_row .grid_row {
  margin: 0;
}

.grid_row:before,
.grid_row:after {
  content: " ";
  display: table;
}

.grid_row:after {
  clear: both;
}

[class^=grid_col] {
  width: 100%;
  margin-bottom: 1.618em;
}

.grid_content {
  background-color: #ffcc66;
  word-wrap: break-word;
  margin: 0 0.809em;
  padding: 0 0.809em;
}

/* ==========================================================================
   Columns
   ========================================================================== */
[class*=grid_offset] {
  float: none;
}

@media screen and (min-width: 25em) {
  [class^=grid_col] {
    float: left;
  }

  [class^=grid_col] [class^=grid_col] {
    margin-bottom: 0;
  }

  .grid_col_extsm-1_12 {
    width: 8.33333%;
  }

  .grid_col_extsm-2_12 {
    width: 16.66667%;
  }

  .grid_col_extsm-3_12 {
    width: 25%;
  }

  .grid_col_extsm-4_12 {
    width: 33.33333%;
  }

  .grid_col_extsm-5_12 {
    width: 41.66667%;
  }

  .grid_col_extsm-6_12 {
    width: 50%;
  }

  .grid_col_extsm-7_12 {
    width: 58.33333%;
  }

  .grid_col_extsm-8_12 {
    width: 66.66667%;
  }

  .grid_col_extsm-9_12 {
    width: 75%;
  }

  .grid_col_extsm-10_12 {
    width: 83.33333%;
  }

  .grid_col_extsm-11_12 {
    width: 91.66667%;
  }

  .grid_col_extsm-12_12 {
    width: 100%;
    float: none;
  }
}
@media screen and (min-width: 31.25em) {
  .grid_col_sm-1_12 {
    width: 8.33333%;
  }

  .grid_col_sm-2_12 {
    width: 16.66667%;
  }

  .grid_col_sm-3_12 {
    width: 25%;
  }

  .grid_col_sm-4_12 {
    width: 33.33333%;
  }

  .grid_col_sm-5_12 {
    width: 41.66667%;
  }

  .grid_col_sm-6_12 {
    width: 50%;
  }

  .grid_col_sm-7_12 {
    width: 58.33333%;
  }

  .grid_col_sm-8_12 {
    width: 66.66667%;
  }

  .grid_col_sm-9_12 {
    width: 75%;
  }

  .grid_col_sm-10_12 {
    width: 83.33333%;
  }

  .grid_col_sm-11_12 {
    width: 91.66667%;
  }

  .grid_col_sm-12_12 {
    width: 100%;
    float: none;
  }
}
@media screen and (min-width: 50em) {
  .grid_col_med-1_12 {
    width: 8.33333%;
  }

  .grid_col_med-2_12 {
    width: 16.66667%;
  }

  .grid_col_med-3_12 {
    width: 25%;
  }

  .grid_col_med-4_12 {
    width: 33.33333%;
  }

  .grid_col_med-5_12 {
    width: 41.66667%;
  }

  .grid_col_med-6_12 {
    width: 50%;
  }

  .grid_col_med-7_12 {
    width: 58.33333%;
  }

  .grid_col_med-8_12 {
    width: 66.66667%;
  }

  .grid_col_med-9_12 {
    width: 75%;
  }

  .grid_col_med-10_12 {
    width: 83.33333%;
  }

  .grid_col_med-11_12 {
    width: 91.66667%;
  }

  .grid_col_med-12_12 {
    width: 100%;
    float: none;
  }

  .grid_col-ratio_1_3 {
    width: 38.1953%;
  }

  .grid_col-ratio_2_3 {
    width: 61.8047%;
  }
}
@media screen and (min-width: 62.5em) {
  .grid_col_lg-1_12 {
    width: 8.33333%;
  }

  .grid_col_lg-2_12 {
    width: 16.66667%;
  }

  .grid_col_lg-3_12 {
    width: 25%;
  }

  .grid_col_lg-4_12 {
    width: 33.33333%;
  }

  .grid_col_lg-5_12 {
    width: 41.66667%;
  }

  .grid_col_lg-6_12 {
    width: 50%;
  }

  .grid_col_lg-7_12 {
    width: 58.33333%;
  }

  .grid_col_lg-8_12 {
    width: 66.66667%;
  }

  .grid_col_lg-9_12 {
    width: 75%;
  }

  .grid_col_lg-10_12 {
    width: 83.33333%;
  }

  .grid_col_lg-11_12 {
    width: 91.66667%;
  }

  .grid_col_lg-12_12 {
    width: 100%;
    float: none;
  }
}
@media screen and (min-width: 25em) {
  .grid_col_extsm-1_12 {
    width: 8.33333%;
  }

  .grid_col_extsm-1_11 {
    width: 9.09091%;
  }

  .grid_col_extsm-1_10 {
    width: 10%;
  }

  .grid_col_extsm-1_9 {
    width: 11.11111%;
  }

  .grid_col_extsm-1_8 {
    width: 12.5%;
  }

  .grid_col_extsm-1_7 {
    width: 14.28571%;
  }

  .grid_col_extsm-1_6 {
    width: 16.66667%;
  }

  .grid_col_extsm-1_5 {
    width: 20%;
  }

  .grid_col_extsm-1_4 {
    width: 25%;
  }

  .grid_col_extsm-1_3 {
    width: 33.33333%;
  }

  .grid_col_extsm-1_2 {
    width: 50%;
  }

  .grid_col_extsm-1_1 {
    width: 100%;
    float: none;
  }
}
@media screen and (min-width: 31.25em) {
  .grid_col_sm-1_12 {
    width: 8.33333%;
  }

  .grid_col_sm-1_11 {
    width: 9.09091%;
  }

  .grid_col_sm-1_10 {
    width: 10%;
  }

  .grid_col_sm-1_9 {
    width: 11.11111%;
  }

  .grid_col_sm-1_8 {
    width: 12.5%;
  }

  .grid_col_sm-1_7 {
    width: 14.28571%;
  }

  .grid_col_sm-1_6 {
    width: 16.66667%;
  }

  .grid_col_sm-1_5 {
    width: 20%;
  }

  .grid_col_sm-1_4 {
    width: 25%;
  }

  .grid_col_sm-1_3 {
    width: 33.33333%;
  }

  .grid_col_sm-1_2 {
    width: 50%;
  }

  .grid_col_sm-1_1 {
    width: 100%;
    float: none;
  }
}
@media screen and (min-width: 50em) {
  .grid_col_med-1_12 {
    width: 8.33333%;
  }

  .grid_col_med-1_11 {
    width: 9.09091%;
  }

  .grid_col_med-1_10 {
    width: 10%;
  }

  .grid_col_med-1_9 {
    width: 11.11111%;
  }

  .grid_col_med-1_8 {
    width: 12.5%;
  }

  .grid_col_med-1_7 {
    width: 14.28571%;
  }

  .grid_col_med-1_6 {
    width: 16.66667%;
  }

  .grid_col_med-1_5 {
    width: 20%;
  }

  .grid_col_med-1_4 {
    width: 25%;
  }

  .grid_col_med-1_3 {
    width: 33.33333%;
  }

  .grid_col_med-1_2 {
    width: 50%;
  }

  .grid_col_med-1_1 {
    width: 100%;
    float: none;
  }
}
@media screen and (min-width: 62.5em) {
  .grid_col_lg-1_12 {
    width: 8.33333%;
  }

  .grid_col_lg-1_11 {
    width: 9.09091%;
  }

  .grid_col_lg-1_10 {
    width: 10%;
  }

  .grid_col_lg-1_9 {
    width: 11.11111%;
  }

  .grid_col_lg-1_8 {
    width: 12.5%;
  }

  .grid_col_lg-1_7 {
    width: 14.28571%;
  }

  .grid_col_lg-1_6 {
    width: 16.66667%;
  }

  .grid_col_lg-1_5 {
    width: 20%;
  }

  .grid_col_lg-1_4 {
    width: 25%;
  }

  .grid_col_lg-1_3 {
    width: 33.33333%;
  }

  .grid_col_lg-1_2 {
    width: 50%;
  }

  .grid_col_lg-1_1 {
    width: 100%;
    float: none;
  }
}
/* ==========================================================================
   Offsets
   ========================================================================== */
@media screen and (min-width: 25em) {
  .grid_offset_extsm-1_12 {
    margin-left: 8.33333%;
  }

  .grid_offset_extsm-2_12 {
    margin-left: 16.66667%;
  }

  .grid_offset_extsm-3_12 {
    margin-left: 25%;
  }

  .grid_offset_extsm-4_12 {
    margin-left: 33.33333%;
  }

  .grid_offset_extsm-5_12 {
    margin-left: 41.66667%;
  }

  .grid_offset_extsm-6_12 {
    margin-left: 50%;
  }

  .grid_offset_extsm-7_12 {
    margin-left: 58.33333%;
  }

  .grid_offset_extsm-8_12 {
    margin-left: 66.66667%;
  }

  .grid_offset_extsm-9_12 {
    margin-left: 75%;
  }

  .grid_offset_extsm-10_12 {
    margin-left: 83.33333%;
  }

  .grid_offset_extsm-11_12 {
    margin-left: 91.66667%;
  }
}
@media screen and (min-width: 31.25em) {
  .grid_offset_sm-1_12 {
    margin-left: 8.33333%;
  }

  .grid_offset_sm-2_12 {
    margin-left: 16.66667%;
  }

  .grid_offset_sm-3_12 {
    margin-left: 25%;
  }

  .grid_offset_sm-4_12 {
    margin-left: 33.33333%;
  }

  .grid_offset_sm-5_12 {
    margin-left: 41.66667%;
  }

  .grid_offset_sm-6_12 {
    margin-left: 50%;
  }

  .grid_offset_sm-7_12 {
    margin-left: 58.33333%;
  }

  .grid_offset_sm-8_12 {
    margin-left: 66.66667%;
  }

  .grid_offset_sm-9_12 {
    margin-left: 75%;
  }

  .grid_offset_sm-10_12 {
    margin-left: 83.33333%;
  }

  .grid_offset_sm-11_12 {
    margin-left: 91.66667%;
  }
}
@media screen and (min-width: 50em) {
  .grid_offset_med-1_12 {
    margin-left: 8.33333%;
  }

  .grid_offset_med-2_12 {
    margin-left: 16.66667%;
  }

  .grid_offset_med-3_12 {
    margin-left: 25%;
  }

  .grid_offset_med-4_12 {
    margin-left: 33.33333%;
  }

  .grid_offset_med-5_12 {
    margin-left: 41.66667%;
  }

  .grid_offset_med-6_12 {
    margin-left: 50%;
  }

  .grid_offset_med-7_12 {
    margin-left: 58.33333%;
  }

  .grid_offset_med-8_12 {
    margin-left: 66.66667%;
  }

  .grid_offset_med-9_12 {
    margin-left: 75%;
  }

  .grid_offset_med-10_12 {
    margin-left: 83.33333%;
  }

  .grid_offset_med-11_12 {
    margin-left: 91.66667%;
  }
}
@media screen and (min-width: 62.5em) {
  .grid_offset_lg-1_12 {
    margin-left: 8.33333%;
  }

  .grid_offset_lg-2_12 {
    margin-left: 16.66667%;
  }

  .grid_offset_lg-3_12 {
    margin-left: 25%;
  }

  .grid_offset_lg-4_12 {
    margin-left: 33.33333%;
  }

  .grid_offset_lg-5_12 {
    margin-left: 41.66667%;
  }

  .grid_offset_lg-6_12 {
    margin-left: 50%;
  }

  .grid_offset_lg-7_12 {
    margin-left: 58.33333%;
  }

  .grid_offset_lg-8_12 {
    margin-left: 66.66667%;
  }

  .grid_offset_lg-9_12 {
    margin-left: 75%;
  }

  .grid_offset_lg-10_12 {
    margin-left: 83.33333%;
  }

  .grid_offset_lg-11_12 {
    margin-left: 91.66667%;
  }
}
@media screen and (min-width: 25em) {
  .grid_offset_extsm-1_12 {
    margin-left: 8.33333%;
  }

  .grid_offset_extsm-2_12 {
    margin-left: 16.66667%;
  }

  .grid_offset_extsm-3_12 {
    margin-left: 25%;
  }

  .grid_offset_extsm-4_12 {
    margin-left: 33.33333%;
  }

  .grid_offset_extsm-5_12 {
    margin-left: 41.66667%;
  }

  .grid_offset_extsm-6_12 {
    margin-left: 50%;
  }

  .grid_offset_extsm-7_12 {
    margin-left: 58.33333%;
  }

  .grid_offset_extsm-8_12 {
    margin-left: 66.66667%;
  }

  .grid_offset_extsm-9_12 {
    margin-left: 75%;
  }

  .grid_offset_extsm-10_12 {
    margin-left: 83.33333%;
  }

  .grid_offset_extsm-11_12 {
    margin-left: 91.66667%;
  }

  .grid_offset_extsm-1_11 {
    margin-left: 9.09091%;
  }

  .grid_offset_extsm-2_11 {
    margin-left: 18.18182%;
  }

  .grid_offset_extsm-3_11 {
    margin-left: 27.27273%;
  }

  .grid_offset_extsm-4_11 {
    margin-left: 36.36364%;
  }

  .grid_offset_extsm-5_11 {
    margin-left: 45.45455%;
  }

  .grid_offset_extsm-6_11 {
    margin-left: 54.54545%;
  }

  .grid_offset_extsm-7_11 {
    margin-left: 63.63636%;
  }

  .grid_offset_extsm-8_11 {
    margin-left: 72.72727%;
  }

  .grid_offset_extsm-9_11 {
    margin-left: 81.81818%;
  }

  .grid_offset_extsm-10_11 {
    margin-left: 90.90909%;
  }

  .grid_offset_extsm-1_10 {
    margin-left: 10%;
  }

  .grid_offset_extsm-2_10 {
    margin-left: 20%;
  }

  .grid_offset_extsm-3_10 {
    margin-left: 30%;
  }

  .grid_offset_extsm-4_10 {
    margin-left: 40%;
  }

  .grid_offset_extsm-5_10 {
    margin-left: 50%;
  }

  .grid_offset_extsm-6_10 {
    margin-left: 60%;
  }

  .grid_offset_extsm-7_10 {
    margin-left: 70%;
  }

  .grid_offset_extsm-8_10 {
    margin-left: 80%;
  }

  .grid_offset_extsm-9_10 {
    margin-left: 90%;
  }

  .grid_offset_extsm-1_9 {
    margin-left: 11.11111%;
  }

  .grid_offset_extsm-2_9 {
    margin-left: 22.22222%;
  }

  .grid_offset_extsm-3_9 {
    margin-left: 33.33333%;
  }

  .grid_offset_extsm-4_9 {
    margin-left: 44.44444%;
  }

  .grid_offset_extsm-5_9 {
    margin-left: 55.55556%;
  }

  .grid_offset_extsm-6_9 {
    margin-left: 66.66667%;
  }

  .grid_offset_extsm-7_9 {
    margin-left: 77.77778%;
  }

  .grid_offset_extsm-8_9 {
    margin-left: 88.88889%;
  }

  .grid_offset_extsm-1_8 {
    margin-left: 12.5%;
  }

  .grid_offset_extsm-2_8 {
    margin-left: 25%;
  }

  .grid_offset_extsm-3_8 {
    margin-left: 37.5%;
  }

  .grid_offset_extsm-4_8 {
    margin-left: 50%;
  }

  .grid_offset_extsm-5_8 {
    margin-left: 62.5%;
  }

  .grid_offset_extsm-6_8 {
    margin-left: 75%;
  }

  .grid_offset_extsm-7_8 {
    margin-left: 87.5%;
  }

  .grid_offset_extsm-1_7 {
    margin-left: 14.28571%;
  }

  .grid_offset_extsm-2_7 {
    margin-left: 28.57143%;
  }

  .grid_offset_extsm-3_7 {
    margin-left: 42.85714%;
  }

  .grid_offset_extsm-4_7 {
    margin-left: 57.14286%;
  }

  .grid_offset_extsm-5_7 {
    margin-left: 71.42857%;
  }

  .grid_offset_extsm-6_7 {
    margin-left: 85.71429%;
  }

  .grid_offset_extsm-1_6 {
    margin-left: 16.66667%;
  }

  .grid_offset_extsm-2_6 {
    margin-left: 33.33333%;
  }

  .grid_offset_extsm-3_6 {
    margin-left: 50%;
  }

  .grid_offset_extsm-4_6 {
    margin-left: 66.66667%;
  }

  .grid_offset_extsm-5_6 {
    margin-left: 83.33333%;
  }

  .grid_offset_extsm-1_5 {
    margin-left: 20%;
  }

  .grid_offset_extsm-2_5 {
    margin-left: 40%;
  }

  .grid_offset_extsm-3_5 {
    margin-left: 60%;
  }

  .grid_offset_extsm-4_5 {
    margin-left: 80%;
  }

  .grid_offset_extsm-1_4 {
    margin-left: 25%;
  }

  .grid_offset_extsm-2_4 {
    margin-left: 50%;
  }

  .grid_offset_extsm-3_4 {
    margin-left: 75%;
  }

  .grid_offset_extsm-1_3 {
    margin-left: 33.33333%;
  }

  .grid_offset_extsm-2_3 {
    margin-left: 66.66667%;
  }

  .grid_offset_extsm-1_2 {
    margin-left: 50%;
  }
}
@media screen and (min-width: 31.25em) {
  .grid_offset_sm-1_12 {
    margin-left: 8.33333%;
  }

  .grid_offset_sm-2_12 {
    margin-left: 16.66667%;
  }

  .grid_offset_sm-3_12 {
    margin-left: 25%;
  }

  .grid_offset_sm-4_12 {
    margin-left: 33.33333%;
  }

  .grid_offset_sm-5_12 {
    margin-left: 41.66667%;
  }

  .grid_offset_sm-6_12 {
    margin-left: 50%;
  }

  .grid_offset_sm-7_12 {
    margin-left: 58.33333%;
  }

  .grid_offset_sm-8_12 {
    margin-left: 66.66667%;
  }

  .grid_offset_sm-9_12 {
    margin-left: 75%;
  }

  .grid_offset_sm-10_12 {
    margin-left: 83.33333%;
  }

  .grid_offset_sm-11_12 {
    margin-left: 91.66667%;
  }

  .grid_offset_sm-1_11 {
    margin-left: 9.09091%;
  }

  .grid_offset_sm-2_11 {
    margin-left: 18.18182%;
  }

  .grid_offset_sm-3_11 {
    margin-left: 27.27273%;
  }

  .grid_offset_sm-4_11 {
    margin-left: 36.36364%;
  }

  .grid_offset_sm-5_11 {
    margin-left: 45.45455%;
  }

  .grid_offset_sm-6_11 {
    margin-left: 54.54545%;
  }

  .grid_offset_sm-7_11 {
    margin-left: 63.63636%;
  }

  .grid_offset_sm-8_11 {
    margin-left: 72.72727%;
  }

  .grid_offset_sm-9_11 {
    margin-left: 81.81818%;
  }

  .grid_offset_sm-10_11 {
    margin-left: 90.90909%;
  }

  .grid_offset_sm-1_10 {
    margin-left: 10%;
  }

  .grid_offset_sm-2_10 {
    margin-left: 20%;
  }

  .grid_offset_sm-3_10 {
    margin-left: 30%;
  }

  .grid_offset_sm-4_10 {
    margin-left: 40%;
  }

  .grid_offset_sm-5_10 {
    margin-left: 50%;
  }

  .grid_offset_sm-6_10 {
    margin-left: 60%;
  }

  .grid_offset_sm-7_10 {
    margin-left: 70%;
  }

  .grid_offset_sm-8_10 {
    margin-left: 80%;
  }

  .grid_offset_sm-9_10 {
    margin-left: 90%;
  }

  .grid_offset_sm-1_9 {
    margin-left: 11.11111%;
  }

  .grid_offset_sm-2_9 {
    margin-left: 22.22222%;
  }

  .grid_offset_sm-3_9 {
    margin-left: 33.33333%;
  }

  .grid_offset_sm-4_9 {
    margin-left: 44.44444%;
  }

  .grid_offset_sm-5_9 {
    margin-left: 55.55556%;
  }

  .grid_offset_sm-6_9 {
    margin-left: 66.66667%;
  }

  .grid_offset_sm-7_9 {
    margin-left: 77.77778%;
  }

  .grid_offset_sm-8_9 {
    margin-left: 88.88889%;
  }

  .grid_offset_sm-1_8 {
    margin-left: 12.5%;
  }

  .grid_offset_sm-2_8 {
    margin-left: 25%;
  }

  .grid_offset_sm-3_8 {
    margin-left: 37.5%;
  }

  .grid_offset_sm-4_8 {
    margin-left: 50%;
  }

  .grid_offset_sm-5_8 {
    margin-left: 62.5%;
  }

  .grid_offset_sm-6_8 {
    margin-left: 75%;
  }

  .grid_offset_sm-7_8 {
    margin-left: 87.5%;
  }

  .grid_offset_sm-1_7 {
    margin-left: 14.28571%;
  }

  .grid_offset_sm-2_7 {
    margin-left: 28.57143%;
  }

  .grid_offset_sm-3_7 {
    margin-left: 42.85714%;
  }

  .grid_offset_sm-4_7 {
    margin-left: 57.14286%;
  }

  .grid_offset_sm-5_7 {
    margin-left: 71.42857%;
  }

  .grid_offset_sm-6_7 {
    margin-left: 85.71429%;
  }

  .grid_offset_sm-1_6 {
    margin-left: 16.66667%;
  }

  .grid_offset_sm-2_6 {
    margin-left: 33.33333%;
  }

  .grid_offset_sm-3_6 {
    margin-left: 50%;
  }

  .grid_offset_sm-4_6 {
    margin-left: 66.66667%;
  }

  .grid_offset_sm-5_6 {
    margin-left: 83.33333%;
  }

  .grid_offset_sm-1_5 {
    margin-left: 20%;
  }

  .grid_offset_sm-2_5 {
    margin-left: 40%;
  }

  .grid_offset_sm-3_5 {
    margin-left: 60%;
  }

  .grid_offset_sm-4_5 {
    margin-left: 80%;
  }

  .grid_offset_sm-1_4 {
    margin-left: 25%;
  }

  .grid_offset_sm-2_4 {
    margin-left: 50%;
  }

  .grid_offset_sm-3_4 {
    margin-left: 75%;
  }

  .grid_offset_sm-1_3 {
    margin-left: 33.33333%;
  }

  .grid_offset_sm-2_3 {
    margin-left: 66.66667%;
  }

  .grid_offset_sm-1_2 {
    margin-left: 50%;
  }
}
@media screen and (min-width: 50em) {
  .grid_offset_med-1_12 {
    margin-left: 8.33333%;
  }

  .grid_offset_med-2_12 {
    margin-left: 16.66667%;
  }

  .grid_offset_med-3_12 {
    margin-left: 25%;
  }

  .grid_offset_med-4_12 {
    margin-left: 33.33333%;
  }

  .grid_offset_med-5_12 {
    margin-left: 41.66667%;
  }

  .grid_offset_med-6_12 {
    margin-left: 50%;
  }

  .grid_offset_med-7_12 {
    margin-left: 58.33333%;
  }

  .grid_offset_med-8_12 {
    margin-left: 66.66667%;
  }

  .grid_offset_med-9_12 {
    margin-left: 75%;
  }

  .grid_offset_med-10_12 {
    margin-left: 83.33333%;
  }

  .grid_offset_med-11_12 {
    margin-left: 91.66667%;
  }

  .grid_offset_med-1_11 {
    margin-left: 9.09091%;
  }

  .grid_offset_med-2_11 {
    margin-left: 18.18182%;
  }

  .grid_offset_med-3_11 {
    margin-left: 27.27273%;
  }

  .grid_offset_med-4_11 {
    margin-left: 36.36364%;
  }

  .grid_offset_med-5_11 {
    margin-left: 45.45455%;
  }

  .grid_offset_med-6_11 {
    margin-left: 54.54545%;
  }

  .grid_offset_med-7_11 {
    margin-left: 63.63636%;
  }

  .grid_offset_med-8_11 {
    margin-left: 72.72727%;
  }

  .grid_offset_med-9_11 {
    margin-left: 81.81818%;
  }

  .grid_offset_med-10_11 {
    margin-left: 90.90909%;
  }

  .grid_offset_med-1_10 {
    margin-left: 10%;
  }

  .grid_offset_med-2_10 {
    margin-left: 20%;
  }

  .grid_offset_med-3_10 {
    margin-left: 30%;
  }

  .grid_offset_med-4_10 {
    margin-left: 40%;
  }

  .grid_offset_med-5_10 {
    margin-left: 50%;
  }

  .grid_offset_med-6_10 {
    margin-left: 60%;
  }

  .grid_offset_med-7_10 {
    margin-left: 70%;
  }

  .grid_offset_med-8_10 {
    margin-left: 80%;
  }

  .grid_offset_med-9_10 {
    margin-left: 90%;
  }

  .grid_offset_med-1_9 {
    margin-left: 11.11111%;
  }

  .grid_offset_med-2_9 {
    margin-left: 22.22222%;
  }

  .grid_offset_med-3_9 {
    margin-left: 33.33333%;
  }

  .grid_offset_med-4_9 {
    margin-left: 44.44444%;
  }

  .grid_offset_med-5_9 {
    margin-left: 55.55556%;
  }

  .grid_offset_med-6_9 {
    margin-left: 66.66667%;
  }

  .grid_offset_med-7_9 {
    margin-left: 77.77778%;
  }

  .grid_offset_med-8_9 {
    margin-left: 88.88889%;
  }

  .grid_offset_med-1_8 {
    margin-left: 12.5%;
  }

  .grid_offset_med-2_8 {
    margin-left: 25%;
  }

  .grid_offset_med-3_8 {
    margin-left: 37.5%;
  }

  .grid_offset_med-4_8 {
    margin-left: 50%;
  }

  .grid_offset_med-5_8 {
    margin-left: 62.5%;
  }

  .grid_offset_med-6_8 {
    margin-left: 75%;
  }

  .grid_offset_med-7_8 {
    margin-left: 87.5%;
  }

  .grid_offset_med-1_7 {
    margin-left: 14.28571%;
  }

  .grid_offset_med-2_7 {
    margin-left: 28.57143%;
  }

  .grid_offset_med-3_7 {
    margin-left: 42.85714%;
  }

  .grid_offset_med-4_7 {
    margin-left: 57.14286%;
  }

  .grid_offset_med-5_7 {
    margin-left: 71.42857%;
  }

  .grid_offset_med-6_7 {
    margin-left: 85.71429%;
  }

  .grid_offset_med-1_6 {
    margin-left: 16.66667%;
  }

  .grid_offset_med-2_6 {
    margin-left: 33.33333%;
  }

  .grid_offset_med-3_6 {
    margin-left: 50%;
  }

  .grid_offset_med-4_6 {
    margin-left: 66.66667%;
  }

  .grid_offset_med-5_6 {
    margin-left: 83.33333%;
  }

  .grid_offset_med-1_5 {
    margin-left: 20%;
  }

  .grid_offset_med-2_5 {
    margin-left: 40%;
  }

  .grid_offset_med-3_5 {
    margin-left: 60%;
  }

  .grid_offset_med-4_5 {
    margin-left: 80%;
  }

  .grid_offset_med-1_4 {
    margin-left: 25%;
  }

  .grid_offset_med-2_4 {
    margin-left: 50%;
  }

  .grid_offset_med-3_4 {
    margin-left: 75%;
  }

  .grid_offset_med-1_3 {
    margin-left: 33.33333%;
  }

  .grid_offset_med-2_3 {
    margin-left: 66.66667%;
  }

  .grid_offset_med-1_2 {
    margin-left: 50%;
  }
}
@media screen and (min-width: 62.5em) {
  .grid_offset_lg-1_12 {
    margin-left: 8.33333%;
  }

  .grid_offset_lg-2_12 {
    margin-left: 16.66667%;
  }

  .grid_offset_lg-3_12 {
    margin-left: 25%;
  }

  .grid_offset_lg-4_12 {
    margin-left: 33.33333%;
  }

  .grid_offset_lg-5_12 {
    margin-left: 41.66667%;
  }

  .grid_offset_lg-6_12 {
    margin-left: 50%;
  }

  .grid_offset_lg-7_12 {
    margin-left: 58.33333%;
  }

  .grid_offset_lg-8_12 {
    margin-left: 66.66667%;
  }

  .grid_offset_lg-9_12 {
    margin-left: 75%;
  }

  .grid_offset_lg-10_12 {
    margin-left: 83.33333%;
  }

  .grid_offset_lg-11_12 {
    margin-left: 91.66667%;
  }

  .grid_offset_lg-1_11 {
    margin-left: 9.09091%;
  }

  .grid_offset_lg-2_11 {
    margin-left: 18.18182%;
  }

  .grid_offset_lg-3_11 {
    margin-left: 27.27273%;
  }

  .grid_offset_lg-4_11 {
    margin-left: 36.36364%;
  }

  .grid_offset_lg-5_11 {
    margin-left: 45.45455%;
  }

  .grid_offset_lg-6_11 {
    margin-left: 54.54545%;
  }

  .grid_offset_lg-7_11 {
    margin-left: 63.63636%;
  }

  .grid_offset_lg-8_11 {
    margin-left: 72.72727%;
  }

  .grid_offset_lg-9_11 {
    margin-left: 81.81818%;
  }

  .grid_offset_lg-10_11 {
    margin-left: 90.90909%;
  }

  .grid_offset_lg-1_10 {
    margin-left: 10%;
  }

  .grid_offset_lg-2_10 {
    margin-left: 20%;
  }

  .grid_offset_lg-3_10 {
    margin-left: 30%;
  }

  .grid_offset_lg-4_10 {
    margin-left: 40%;
  }

  .grid_offset_lg-5_10 {
    margin-left: 50%;
  }

  .grid_offset_lg-6_10 {
    margin-left: 60%;
  }

  .grid_offset_lg-7_10 {
    margin-left: 70%;
  }

  .grid_offset_lg-8_10 {
    margin-left: 80%;
  }

  .grid_offset_lg-9_10 {
    margin-left: 90%;
  }

  .grid_offset_lg-1_9 {
    margin-left: 11.11111%;
  }

  .grid_offset_lg-2_9 {
    margin-left: 22.22222%;
  }

  .grid_offset_lg-3_9 {
    margin-left: 33.33333%;
  }

  .grid_offset_lg-4_9 {
    margin-left: 44.44444%;
  }

  .grid_offset_lg-5_9 {
    margin-left: 55.55556%;
  }

  .grid_offset_lg-6_9 {
    margin-left: 66.66667%;
  }

  .grid_offset_lg-7_9 {
    margin-left: 77.77778%;
  }

  .grid_offset_lg-8_9 {
    margin-left: 88.88889%;
  }

  .grid_offset_lg-1_8 {
    margin-left: 12.5%;
  }

  .grid_offset_lg-2_8 {
    margin-left: 25%;
  }

  .grid_offset_lg-3_8 {
    margin-left: 37.5%;
  }

  .grid_offset_lg-4_8 {
    margin-left: 50%;
  }

  .grid_offset_lg-5_8 {
    margin-left: 62.5%;
  }

  .grid_offset_lg-6_8 {
    margin-left: 75%;
  }

  .grid_offset_lg-7_8 {
    margin-left: 87.5%;
  }

  .grid_offset_lg-1_7 {
    margin-left: 14.28571%;
  }

  .grid_offset_lg-2_7 {
    margin-left: 28.57143%;
  }

  .grid_offset_lg-3_7 {
    margin-left: 42.85714%;
  }

  .grid_offset_lg-4_7 {
    margin-left: 57.14286%;
  }

  .grid_offset_lg-5_7 {
    margin-left: 71.42857%;
  }

  .grid_offset_lg-6_7 {
    margin-left: 85.71429%;
  }

  .grid_offset_lg-1_6 {
    margin-left: 16.66667%;
  }

  .grid_offset_lg-2_6 {
    margin-left: 33.33333%;
  }

  .grid_offset_lg-3_6 {
    margin-left: 50%;
  }

  .grid_offset_lg-4_6 {
    margin-left: 66.66667%;
  }

  .grid_offset_lg-5_6 {
    margin-left: 83.33333%;
  }

  .grid_offset_lg-1_5 {
    margin-left: 20%;
  }

  .grid_offset_lg-2_5 {
    margin-left: 40%;
  }

  .grid_offset_lg-3_5 {
    margin-left: 60%;
  }

  .grid_offset_lg-4_5 {
    margin-left: 80%;
  }

  .grid_offset_lg-1_4 {
    margin-left: 25%;
  }

  .grid_offset_lg-2_4 {
    margin-left: 50%;
  }

  .grid_offset_lg-3_4 {
    margin-left: 75%;
  }

  .grid_offset_lg-1_3 {
    margin-left: 33.33333%;
  }

  .grid_offset_lg-2_3 {
    margin-left: 66.66667%;
  }

  .grid_offset_lg-1_2 {
    margin-left: 50%;
  }
}
/* ==========================================================================
   Helpers
   ========================================================================== */
@media screen and (min-width: 25em) {
  .grid_offset_extsm-reset {
    margin-left: 0;
  }
}
@media screen and (min-width: 31.25em) {
  .grid_offset_sm-reset {
    margin-left: 0;
  }
}
@media screen and (min-width: 50em) {
  .grid_offset_med-reset {
    margin-left: 0;
  }
}
@media screen and (min-width: 62.5em) {
  .grid_offset_lg-reset {
    margin-left: 0;
  }
}
.float-left {
  float: left;
}

.float-right {
  float: right;
}

.grid_col-last {
  width: auto !important;
  float: none !important;
  overflow: hidden !important;
}

@media screen and (min-width: 25em) {
  .grid_col_extsm-last {
    width: auto !important;
    float: none !important;
    overflow: hidden !important;
  }
}
@media screen and (min-width: 31.25em) {
  .grid_col_sm-last {
    width: auto !important;
    float: none !important;
    overflow: hidden !important;
  }
}
@media screen and (min-width: 50em) {
  .grid_col_med-last {
    width: auto !important;
    float: none !important;
    overflow: hidden !important;
  }
}
@media screen and (min-width: 62.5em) {
  .grid_col_lg-last {
    width: auto !important;
    float: none !important;
    overflow: hidden !important;
  }
}
[class^=grid_col] [class^=grid_col].grid_col-last,
[class^=grid_col] [class^=grid_col]:last-child {
  margin-bottom: 0;
}

.wrapper {
  max-width: 71.5em;
  margin: 0 auto;
}

.wrapper-full {
  max-width: 100%;
}

/* ==========================================================================
   Presentation
   ========================================================================== */
.pres-spacing {
  height: 100px;
}

.pres-heading {
  line-height: 100px;
}

.color {
  background-color: #ffcc66;
}

/*[class^=col]:nth-child(odd) .grid-content{
    background-color: #ffcc66;
}*/
[class^=grid_col] h3 {
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 40px;
  font-size: 13px;
}

/*# sourceMappingURL=grid.css.map */
